.root {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}
.spinnerWrapper {
  flex: 1;
  margin-top: 240;
  justify-content: 'center';
  align-items: 'center';
}
.spinner {
  flex: 1;
  align-self: 'center';
}
.floatButton {
  position: 'fixed';
  width: '60px';
  height: '60px';
  bottom: '40px';
  right: '40px';
  margin-top: '22px';
}
