.blog {
  &.card {
    padding: 0.5em !important;
    margin: 0.5em 0em !important;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  &.single {
    margin-top: 2em;
    max-width: 50vw;
  }
}
.media {
  height: 0;
  padding-top: 56.25%; // 16:9
}
.text {
  text-overflow: ellipsis;
  padding: 0.5em;
}
